@use "@/assets/css/global.scss" as *;

.about-us {
    
    &__header {        
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-image {
            width: 30px;
            height: 30px;
            margin-bottom: 5px;
        }

        &-text {
            font-size: 40px;
            color: $text_title;
            font-weight: 600;
        }
    }

    &__content {
        margin-top: 100px;
    }
}