$header-color: rgba(146, 0, 45, 0.15);
$header_menu: #000000;
$header_menu_underline: rgba(146, 0, 45);
$button-color1: rgba(146, 0, 45);
$button-color2: rgba(101, 0, 11, 0.9);
$presentation-text_title: #131313;
$presentation-text_description:  #343E40;
// Fonts

$main-font: 'Montserrat';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;