$header-color: rgb(78, 22, 39);
$header_menu_underline: rgba(126, 24, 54);
$button-color1: rgb(126, 24, 54);
$button-color2: rgba(101, 0, 11, 0.9);
$text_title: #131313;
$text_description:  #343E40;
$footer_nav_color: #525252;
// Fonts

$main-font: 'Montserrat';
$background-color_main: #f0f0f0;
$background-color2: #fff;
$element-color1: #eeeaea;
$element-color2: #eeeaea;
// Other

$transition-time: 0.3s;

$maxWidth: 1920;