@use "@/assets/css/global.scss" as *;

.promo {
  background-color: $background-color2;

  &__header {
    margin-bottom: 70px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки */
    gap: 30px; /* Отступ между карточками */
    margin: 24px 0;
  }
}
