@use "@/assets/css/global.scss" as *;


.tours {

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 колонки */
        gap: 24px; /* Отступ между карточками */
        margin: 24px 0;
    }
}


@media (max-width: 768px) {
    .tours__wrapper {
      grid-template-columns: 1fr; /* На маленьких экранах — одна колонка */
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .tours__wrapper {
      grid-template-columns: repeat(2, 1fr); /* На средних экранах — две колонки */
    }
  }